<div id="mainContainer">
    
    <div id="pictureContainer" class="container">
        <div class="row">
            <img src="../../Content/images/byfsmall.jpg" class="span2 img-circle" />
            <h2 class="span10 offset3">@ViewBag.Message</h2>
        </div>
    </div>
    <div id="tableContainer" class="container">
        <!--
        <div id="testDiv">
            <table id="testtable" class="table table-condensed table-bordered"></table>
        </div>
        -->
        
        <table id="table" class="table table-condensed table-bordered"></table>
    </div>
    <div id="eventTriggerContainer" class="container">
        <button class="btn btn-primary btn-mini" id="run">Run</button>
    </div>
</div>

<!-- TODO:
    - fix IIS hosting
    -come up with developer friendly way to populate table data
    ( Ideally, have all teams in a DB, go and get the teams and use a moustachejs template to populate front end
    create a backend datastructure that is returned via AJAX and rendered at front end using moustachejs )
 -->
