<div id="mainContainer">
    
    <div id="pictureContainer" class="container">
        <div class="row">
            <img src="../../Content/images/byfsmall.jpg" class="span2" />
            <h2 class="span10 offset3">@ViewBag.Message</h2>
        </div>
    </div>
    <div id="tableContainer" class="container">
        <!-- 100 teams so need a 10x10 table -->
        <table id="table" class="table table-condensed table-bordered">
            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>
            
            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>
            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>

            <tr class="row">
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
                <td class="span2">hello</td>
            </tr>
        </table>
    </div>
    <div id="eventTriggerContainer" class="container">
        <button class="btn btn-primary" id="run">Run</button>
    </div>
</div>