@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<div>
    <table id="table">
        <tr>
            <td>hello</td>
            <td>hello</td>
        </tr>

        <tr>
            <td>world</td>
            <td>hello</td>
        </tr>

        <tr>
            <td>!</td>
            <td>hello</td>
        </tr>
        <tr>
            <td>!</td>
            <td>hello</td>
        </tr>
        <tr>
            <td>!</td>
            <td>hello</td>
        </tr>
        <tr>
            <td>!</td>
            <td>hello</td>
        </tr>
        <tr>
            <td>!</td>
            <td>hello</td>
        </tr>
    </table>

    <button id="run">Run</button>
</div>
<label id="stopwatch"></label>