<div id="watermark"></div>

<div id="mainContainer">
    <div id="pictureContainer" class="">
        <div class="row-fluid offset2">
            <div class="span2">
                <!--<img src="../../Content/images/byfsmall.jpg" class="img-rounded" />-->
            </div>
            <div class="span10">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    </div>
    <div id="tableContainer" class="container">
        <table id="table" class="table table-condensed table-bordered"></table>
    </div>
    <div id="eventTriggerContainer" class="container">
        <button class="btn offset5" data-toggle="modal" id="run">Run <i class="icon-check"></i></button>
    </div>
    <div id="dialogContainer">
        <div id="winner-dialog" class="modal hide fade" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Winner!</h3>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <p>
                            And the winner is...
                        </p>    
                    </div>
                    <div class="span12">
                        <strong id="winner"></strong>    
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>            

            <div class="clearfloat"></div>
        </div>
    </div>
</div>