h2,td,button{  
    font-family: Comic Sans MS
}


button,h2{
    padding:10px;
}

body {
    /*background-color: #F7FF63; /*baby lemon/pastel lemon*/
    background-color:#FFFF99;
}

td{   
    background-color: #f9f9f9;
}

p{
    font-size: large;   
}

strong
{
    font-size: xx-large;
    margin-left:33%;  
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
clear:both;
height:0;
font-size: 1px;
line-height: 0px;
}